.h1Margin{
    margin-top: 0!important;
    color: #ffffff;
    margin-bottom: 20px;
}
.bodyWidth{
    padding: 20px 20px 10px 250px;
}
.formBtn{
    display: flex;
    justify-content: flex-end;
}
.query .ant-col label {
    color:#ffffff!important;
}
.margin{
    margin-bottom: 10px;
}
.zdyTable .red{
    background-image: linear-gradient(to left, orange, red);
}
.zdyTable .blue{
    background-image: linear-gradient(to left,green, blue );
}
